@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,500;1,900&display=swap');
*{
    font-family: 'Poppins',cursive;
}
body{
    color: rgb(51, 51, 51);
    width: 100%;
    height: 82vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: rgb(255, 229, 177); 
    /* padding-top: -30; */
}

.botones{
    padding: 9px;
    border-radius: 80px;
    background-color: transparent;
    border: none;
}

.botones a{
    background-color: #df2e2e;
    padding: 9px;
    border-radius: 80px;
    -webkit-border-radius: 80px;
    -moz-border-radius: 80px;
    -ms-border-radius: 80px;
    -o-border-radius: 80px;

}

.botones a:focus{
    background-color: rgb(50, 194, 194);
}

.greetings{
    font-size: 7rem;
    font-weight: 900;
    display: flex;              /* coloca las palabras en fila */
    gap: 30px;                  /* espacio entre cada palabra */
    justify-content: center;    /* centra horizontalmente */
    text-align: center;

}
.greetings > span{
    animation: glow 2.5s ease-in-out infinite;
}
@keyframes glow{
    0%, 100%{
        color: rgb(199, 21, 133); /* rojo vino */
        text-shadow: 0 0 12px #39c6d6, 0 0 50px #39c6d6, 0 0 100px #39c6d6;
    }
    10%, 90%{
        color: rgb(51, 51, 51);
        text-shadow: none;
    }
}
.greetings > span:nth-child(1) { animation-delay: 0s; }
.greetings > span:nth-child(2) { animation-delay: .3s; }
.greetings > span:nth-child(3) { animation-delay: .6s; }
.greetings > span:nth-child(4) { animation-delay: .9s; }

#hearts-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;   /* ocupa todo el ancho */
    height: 100vh;  /* ocupa todo el alto */
    pointer-events: none;
    overflow: hidden;
}

.heart {
    position: absolute;
    font-size: 24px;
    opacity: 1;
    animation: fall 8s linear forwards;
}

@keyframes fall {
    0% {
        transform: translateY(-10%) scale(1);
        opacity: 1;
    }
    100% {
        transform: translateY(110vh) scale(0.8); /* cae hasta fuera de la pantalla */
        opacity: 0;
    }
}


.description{
    font-size: 1.5rem;
    margin-bottom: 20px;
    text-align: center;
}

.button a{
    text-decoration: none;
    font-size: 1rem;
    color: #111;
}

@media screen and (max-width:574px){
    .greetings{
        display: block;
        font-size: 4rem;
        font-weight: 800;
        text-align: center;
    }
    .description{
        font-size: 2rem;
    }
    
    .button a{
        font-size: 1rem;
    }
}